body {
  font-family: 'Libre Baskerville', serif;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://images.unsplash.com/photo-1423784346385-c1d4dac9893a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  /* background-color: rgba(0, 0, 0, 0.6); */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}

nav {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.0) !important;
  margin: 50px 0 0 0;
  padding-left: 200px;
  transition: margin 200ms ease-in, background-color 200ms linear;
}

.navbar-brand {
  font-family: 'Libre Baskerville', serif;
}

.fixed-top.scrolled {
  background-color: rgb(0, 0, 0) !important;
  margin: 0;
  transition: background-color 200ms linear, margin 200ms ease-out;
  /* transition: margin 200ms linear; */
}

@media (max-width: 990px) {
  nav {
    margin: 50px 0 0 0;
  }
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  /* background-color: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}

.transparent {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.carousel-caption {
  filter: alpha(opacity=100);
  opacity: 1;
  top: 42%;
  /* transform: translate(-18%); */
  bottom: initial;
}

@media (max-width: 768px) {
  .carousel-caption h2 {
    font-size: 32px;
  }
  .carousel-caption p {
    font-size: 16px;
  }
}

.contact {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 300px;
  margin-bottom: 200px;
}

.contact-info {
  font-size: 2rem;
}

section ul li {
  padding-bottom: 20px;
}

#one {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.no-indent {
  list-style-type: none;
  padding-left: 20px;
}

.spacing {
  margin-bottom: 50px;
}

/* Work Experience Section */

.ranges {
  margin-left: 7rem;
  position: relative;
  right: 0;
}

.img-thumbnail {
  border: none;
  margin: 5px 0;
}

.myfade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.myfade:hover {
  opacity: 0.5;
}

.profile-img {
  height: 250px;
}

.call-to-action {
  position: relative;
  /* background-color: #343a40; */
  /* background: url("../img/bg-masthead.jpg") no-repeat center center;
  background-size: cover; */
  padding-top: 0rem;
  padding-bottom: 2rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 6rem;
}

footer a {
  color: white;
}